@import "variables.css";
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

.warm {
  --primary: var(--light-red);
}

.cool {
  --primary: var(--light-blue);
}

body {
  background-color: var(--primary);
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}
